<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>Multiple Selectのデモ - jQuery Plugin</title>
  <meta name="description" content="Multiple Selectのサンプル／デモでーす。">
  <meta name="robots" content="noindex, nofollow">
  <link href="/assets/css/reset.css" rel="stylesheet" />
  <link href="/assets/css/multiple-select.css" rel="stylesheet"/>
  <link href="/assets/css/createRoom.css" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
<div id="wrap">
  <div id="content">
    <div id="form">
      <h1>Create New Room</h1>
      <form action="create" method="post">
        <input type="text" name="roomName" id="roomName" placeholder="Room Name">
        <div id="selectBox">
          <select id="select" name="menbers[]">
            <% @users.each do |user| %>
            <option value="<%= @user.id  %>"><%= @user.name %></option>
            <% end %>
          </select>
        </div>
        <button type="submit" id="submit">Create</button>
      </form>
    </div>
  </div>
</div>

<script src="/assets/js/multiple-select.js"></script>
<script>
    $(function() {
        $("#select").multipleSelect();
    });
</script>

</body>
</html>
