<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>Multiple Selectのデモ - jQuery Plugin</title>
  <meta name="description" content="Multiple Selectのサンプル／デモでーす。">
  <meta name="robots" content="noindex, nofollow">
  <link href="/assets/css/reset.css" rel="stylesheet" />
  <link href="/assets/css/multiple-select.css" rel="stylesheet"/>
  <link href="/assets/css/create_room.css" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body id="room-new">
<div id="wrap">
  <div id="content">
    <div id="form">
      <h1>Create New Room</h1>
      <form action="">
        <input type="text" name="roomName" id="roomName" placeholder="Room Name">
        <div id="selectBox">
          <select id="select">
            <option value="1">foo</option>
            <option value="2">bar</option>
            <option value="3">baz</option>
            <option value="4">qux</option>
          </select>
        </div>
        <button type="submit" id="submit">Create</button>
      </form>
    </div>
  </div>
</div>

<script src="/assets/js/multiple-select.js"></script>
<script>
    $(function() {
        $("#select").multipleSelect();
    });
</script>

</body>
</html>
