<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>signup| R-chat</title>
  <link rel="stylesheet" type="text/css" href="assets/css/sign.css" />
  <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
</head>
<body>
<div id="wrap">
  <div id="header" align="center" style="margin-top: 30px">
    <img src="/assets/images/logo.png">
  </div>
  <div id="content">
    <div class="form-wrapper">
      <h1>Password</h1>
      <p><%= @password %></p>
      <br>
      <br>
    </div>
  </div>
</div>
</body>
</html>
